@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Syne:wght@400..800&display=swap');

:root{
    --base-color: #1d1d1f;
    --base-variant: #393b45;
    --text-color:#ffffff;
    --secondary-text:#a4a5b8;
    --primary-color:#2d2e32;
    --accent-color:#4992eb;
}
body{
    min-height: 100vh;
    background-color: var(--base-color);
    color:var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color:var(--base-color);
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    top:50%;
    
}
.button {
    position: relative;
    cursor: pointer;
    padding: 1em 2em;
    border: 2;
    border-radius: 50px;
    border-color:var(--accent-color);
    border-width:2px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 #999;
    background-color: #f1f1f1;
    color: #333;
    font-size: 18px;
    margin-top: 40px;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
  }
  .button:hover {
    transform: translate(.3em, -.3em);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }
  #qrform input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-color: var(--accent-color);
    border-width: 4.5px;
    outline: none;
    border-radius: 20px;
    background-color:#cecaca;
    ;
}


#qrform {
   background: rgba(255, 255, 255, 0.1);
    color: var(--base-color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    
    
}
#qr-code {
    margin-top: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#qr-code.show {
    display: block;
    opacity: 1;
}

#download-btn {
    position: relative;
    cursor: pointer;
    padding: 1em 2em;
    border: 2;
    border-radius: 50px;
    border-color:var(--accent-color);
    border-width:2px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 #999;
    background-color: #f1f1f1;
    color: #333;
    font-size: 12px;
    margin-top: 40px;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
}

#download-btn:hover {
    transform: translate(.3em, -.3em);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.loading {
    display: none;
    font-size: 40px;
    margin-top: 10px;
}

.loading.show {
    display: block;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
